
.prestamos-table-scroll-container {
  max-height: 600px; 
  overflow-y: auto;  
}


.prestamos-table-scroll-container::-webkit-scrollbar {
  width: 8px; 
}

.prestamos-table-scroll-container::-webkit-scrollbar-thumb {
  background-color: #ccc; 
  border-radius: 4px; 
}

.prestamos-table-scroll-container::-webkit-webkit-scrollbar-track {
  background-color: #f1f1f1;
}