<form (ngSubmit)="onSubmit()" #recursoForm="ngForm">
  <div class="mb-3">
    <label for="categoria" class="form-label">Categoría</label>
    <select id="categoria" name="categoria" class="form-select" [(ngModel)]="newRecurso.categoria" required>
      <option value="" disabled selected>Selecciona una Categoría</option>
      <option value="Computacion">Computación</option>
      <option value="Impresoras">Impresoras</option>
      <option value="Telefonia">Telefonía</option>
      <option value="Perifericos">Periféricos</option>
      <option value="Audio y Video">Audio y Video</option>
      <option value="Redes">Redes</option>
      <option value="Software">Software</option>
      <option value="Otros">Otros</option>
    </select>
  </div>

  <div class="mb-3">
    <label for="modelo" class="form-label">Modelo</label>
    <input type="text" id="modelo" name="modelo" class="form-control" [(ngModel)]="newRecurso.modelo" required>
  </div>

  <div class="mb-3">
    <label for="descripcion" class="form-label">Descripción</label>
    <textarea id="descripcion" name="descripcion" class="form-control" [(ngModel)]="newRecurso.descripcion" rows="3" required></textarea>
  </div>

  <div class="mb-3">
    <label for="numeroSerie" class="form-label">N° de Serie</label>
    <input type="text" id="numeroSerie" name="numeroSerie" class="form-control" [(ngModel)]="newRecurso.numeroSerie" required>
  </div>

  <div class="mb-3">
    <label for="fechaCompra" class="form-label">Fecha de Compra</label>
    <input type="date" id="fechaCompra" name="fechaCompra" class="form-control" [(ngModel)]="newRecurso.fechaCompra" required>
  </div>

  <div class="mb-3">
    <label for="fechaVencimientoGarantia" class="form-label">Fecha de Vencimiento de Garantía</label>
    <input type="date" id="fechaVencimientoGarantia" name="fechaVencimientoGarantia" class="form-control" [(ngModel)]="newRecurso.fechaVencimientoGarantia" required>
  </div>

  <div class="mb-3">
    <label for="emailUsuario"  class="form-label">Email de Usuario (asignado)</label>
    <input type="email" id="emailUsuario" name="emailUsuario" class="form-control" [(ngModel)]="newRecurso.emailUsuario" readonly>
  </div>

  <div class="mb-3">
    <label for="estado" class="form-label">Estado</label>
    <select id="estado" name="estado" class="form-select" [(ngModel)]="newRecurso.estado" required>
      <option value="bodega">En Bodega</option>
      <option value="prestado">Prestado</option>
      <option value="asignado">Asignado</option>
      <option value="mantenimiento">En Mantenimiento</option>
      <option value="eliminado">Eliminado</option>
    </select>
  </div>

  <div class="d-flex justify-content-end gap-2 mt-4">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
    <button type="submit" class="btn btn-primary" [disabled]="!recursoForm.form.valid">
      <i class="fas fa-save me-2"></i>Guardar Recurso
    </button>
  </div>
</form>