
html, body { 
  height: 100%; 
  margin: 0; 
   
} 
body { font-family: Roboto, "Helvetica Neue", sans-serif; }
/* ... otros estilos ... */

.pie-chart {
    max-width: 200px;
    height: auto;
  }

  body.modal-open {
  padding-right: 0px ;
}